

div.card-container{
   display: grid; 
  grid-auto-rows: 250px;
  grid-gap: 1em;
  grid-template-columns:repeat(1,1fr);
}


div.card-container.col2{
   grid-template-columns: repeat(2,1fr);
}

div.card-container.col3{
   grid-template-columns: repeat(3,1fr);
   
}


div.card-container.col4{
   grid-template-columns: repeat(4,1fr);
   
}

div.card-container.col12{
   grid-template-columns: repeat(1,1fr);
}



/* div.card-container div.card{
  /* border:1px solid #ccc; 
} */

div.card-container div.card .backdrop{
    width:100%;
    height:100%;
    position:absolute;
    /* z-index:-1; */
}


div.card-container.col1-2{
   grid-template-columns: 60% repeat(1,1fr); 
   
}
.card.row-2{
  grid-row: auto/span 2;
}

.card.vcenter{
    display:grid;
    justify-items: center;
    align-items: center;
    height: auto;
}

div.card{
   
   border: 1px solid #eceff8;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   /* -webkit-box-shadow: -1px 2px 25px -12px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 2px 25px -12px rgba(0,0,0,0.75);
   box-shadow: -1px 2px 25px -12px rgba(0,0,0,0.75);
    */
}
 /* div.card:hover{
   -webkit-box-shadow: -1px 2px 25px -12px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 2px 25px -12px rgba(0,0,0,0.75);
   box-shadow: -1px 2px 25px -12px rgba(0,0,0,0.75);
  

}  */