form.form-inline-container{
    /* display:flex; */
    overflow: hidden;
}

form.form-inline-container .input-container{
    flex-basis:4em;
    align-self: center;
}


form input, form select, form textarea{
    padding: .4em !important; 
    outline: none;
    /* width: 10em; */
    border: 1px solid #e0dede;
    background: #e0dede33;
    font-size: 1.2em;
    appearance: none;
    margin: 1em;
    margin-top: 0 !important;
    display: initial;
    border-radius: 10px;
    width: 94%;
    color: var(--gray);
    font-family: Arial;
}

form label{
    margin-left: 1.5em;
}


input[type="checkbox"]{
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
}
input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}


input[type="checkbox"]:checked::after {
	content: '\2714';
	font-size: 1em;
	position: absolute;
	top: 0;
	left: .25em;
	color: #000;
} 

input[type="submit"],a.btn{
    font-size: 1.2em;
    border-radius: .25em;
    padding: .5em;
    border:1px solid #444;
    background: rgb(0, 88, 27);
    display: inline-block;
    width: 9em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-sizing:border-box;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover,input[type="submit"]:focus,a.btn:hover{
    border:1px solid rgb(1, 143, 49);
}

input:not([type="submit"]):active, input:not([type="submit"]):focus{
    border: 1px solid rgba(255, 188, 36,.9);
    height: 30xp;
}

form select option{
   background: #fff;
   color: #000;
}


.input{
    display: block;
    width: 87%;
    height: calc(1.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 select.input{
    display: inline-block;
    width: 60%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 2.5;
    color: #495057;
    background-color: #f7f7f7;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


form select{
    /* margin-left: 35px; */
    width: 95%;
    height: 3.3em;
}

.readonly{
 background-color: #f7f7f7;;
}

.container.content.position-relative.card-body > textarea[name="comments"]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--gray);
}