nav.navbar ul {
    display: flex;
    width: 100%;
}

nav.navbar ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10em;
    list-style: none;
    line-height: 4em;
    text-align: center;
}

nav.navbar ul li a {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #000;
}

nav.navbar ul li:not(.logo):hover {
    background: var(--nav-highlight-bg-color);
    transition: .2s all ease-in-out;
}

nav.navbar ul li:hover a {
    color: var( --nav-highlight-fg-color);
}

nav.navbar ul li:not(.logo):active {
    background: var(--nav-highlight-active-color);
    transition: .2s all ease-in-out;
    padding-top: 1px;
}