
/**** reset */
html,body,div,section,main,header,footer, ul, li{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p,span,ul,li,input,a, address, select, main{
    margin:0;
    padding:0;
    font-size: 12pt;
    font-family: Arial;
    font-weight: normal;
    line-height:1.5em;
}

ul{
    padding-left:1em;
}
ul li{
    padding-left: .5em;
}
