


.col{

float: left;
}

.col4{
    float: left;
    width:25%
}
.col6{
    float: left;
    width: 50%;
}
.col8{
    float: left;

}
.col10{
    float: left;

}
.col12{
    float: left;
    
}



@media (min-width: 576px) { 

   .container py-1 div.card-container.col1-2{ grid-template: auto};

.col3{
    float: unset;
    padding: 1em;
  
}



 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


 }




 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}




