@import url("reset.css");

/* Using a string */

@import url("navbar.css");

/* Using a string */

@import url("card.css");

/* Using a string */

@import url("input.css");

/* Using a string */

@import url("util.css");

/* Using a string */

@import url("responsive.css");
section[id] {
    padding: 5em 0 5em 0;
    /* margin-top: 5em; */
}

:root {
    --main-bg-color: #580000;
    --main-fg-color: #ffbbbb;
    --nav-color: #eee;
    --nav-highlight-bg-color: #eee;
    --nav-highlight-active-color: #ccc;
    --nav-highlight-fg-color: #444;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #131615;
    --cyan: #17a2b8;
    --white: #fff;
    --black: #000;
    --gray: #6c757d;
    --brown: #580000;
    --gray-dark: #343a40;
    --primary: #007bff !important;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #2b303c;
    --lite: #e4e3e3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/****** layout ********/

main {
    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: 7em auto 24em;
    grid-template-columns: 100%;
    min-height: 100vh;
}

main>header {
    grid-area: header;
    background-color: var(--light);
    border-bottom: 1px solid #2f0000;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
}

main>section {
    grid-area: body;
}

main>footer {
    grid-area: footer;
    background-color: #fff;;
    overflow: hidden;
    bottom: 0;

    background-image: url(../assets/img/section-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/******  header masthead  *****/

main section header.masthead {
    /* height: 30em; */
    min-height: 30em;
    height: auto;
}

main section header.masthead>* {
    /* display: grid; */
    /* grid-template-areas: "searchheader"
                           "searchbody"
                           "searchfooter"; */
    grid-template-rows: 2em auto 4em;
    grid-template-columns: 100%;
    height: 100%;
    /* dom add  */
    padding-top: 3em;
    /* end add dom */
}

.card-image {
    width: 26em;
    height: auto;
}

main section header.masthead>* div:nth-of-type(2) {
    align-self: center;
}


/***** UTILITY ******/

.alert {
    position: relative;
    padding: .1rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.validate-danger {
    border: 1px solid red !important;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.container {
    margin: auto;
    width: 1024px;
}

.content {
    margin: 1em;
}

.card-container .col3 h1 {
    color: #947e56;
    font-weight: 600;
}

.card-container .col3 span :not(.grey.light.smaller) {
    color: #580000;
}

main section header.masthead .card .input-container {
    width: 25%;
}

main section header.masthead .card .input-container input,
select,
option {
    width: 90%;
    padding: 0 1rem 0 1rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* div.card{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.22);
} */

div.card-wrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
}

#result-splash-img {
    width: 320px;
    object-fit: cover;
    height: 248px;
}

.mouse {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 992px) {
    main section header.masthead {
        min-height: 30em;
        height: auto;
        /* background: url(../assets/img/backgrounds/african_sunset.jpg); */
        /* background: url(../assets/img/backgrounds/waterfront.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -20px;
        padding-top: 1em;
    }
    form {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    form input,
    form select,
    form textarea {
        padding: .4em !important;
        outline: none;
        border: 1px solid #e0dede;
        background: #e0dede33;
        font-size: 1.2em;
        appearance: none;
        margin: 1em;
        margin-top: 0 !important;
        display: initial;
        border-radius: 10px;
        width: 80%;
    }
    form#contact {
        display: block;
    }
    form#contact textarea {
        width: 80%;
    }
    .content.p-3.bg-light {
        padding: 0em !important;
    }
    .card-wrapper div.col4 {
        display: grid;
        width: 100%;
        float: unset;
    }
    .card-wrapper h1,
    h2,
    h3,
    p {
        margin: .5em;
    }
    .card-wrapper div.col1 {
        display: grid;
        width: 100%;
        float: unset;
    }
    #result-splash {
        grid-auto-rows: 570px;
        grid-gap: 1em;
        grid-template-columns: repeat(1fr) !important;
    }
    #result-splash-img {
        width: 100% !important;
        object-fit: cover !important;
        max-width: 100%;
        min-width: 99%;
    }
    #result-card-container {
        grid-template-rows: 18em !important;
    }
    #result-card-description {
        grid-template-rows: 15em !important;
        ;
    }
    #result-card-button {
        display: none;
    }
    .card-container.mt-3 .rel>img {
        width: 100% !important;
    }
    .col6 {
        width: 100%;
        float: unset;
    }
    div.card-container.col1-2 {
        grid-template-columns: auto
    }
    ;
    .content img#logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    main section header.masthead .card {
        background: #f7f7f7;
        border-radius: 1em;
        padding: 1em;
    }
    main section header.masthead .card .form-inline-container {
        display: grid;
    }
    main section header.masthead .card .input-container {
        widows: 100%;
        float: left;
        margin-top: 0;
        display: inherit;
    }
    .topnav.responsive#myTopnav {
        display: grid !important;
        z-index: 3;
        background-color: #580000;
        position: fixed;
        padding-left: none !important;
    }
    nav.navbar ul {
        display: inline-block;
        width: 100%;
    }
    #dropdownMenu {
        position: fixed;
        top: 2em;
        right: 3em;
        color: #fff;
        display: block;
    }
    #logo-area {
        margin: 0 0 5em 0 !important;
        display: grid;
    }
    footer div.card-container.col3 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1fr, 1fr, 1fr, auto);
    }
    .col3 {
        float: unset;
    }
    ul {
        padding-left: 0em;
    }
    div.card-container {
        grid-auto-rows: 250px;
        grid-gap: 1em;
        grid-template-columns: repeat(1, 1fr) !important;
    }
    div.card-container .col3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto 10em auto;
    }
    div.card .card-container.col3>div>.content>span.smaller {
        display: flex;
    }
    div.card-container.col3 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 20em;
    }
    .ellips {
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 7.5em;
        max-width: 100%;
    }
    .col4 {
        float: unset;
        width: 100%
    }
    .col4.my-1 {
        display: block;
        position: relative;
    }
    .mobile-row {
        /* display: -ms-flexbox;
    display: grid;
    margin-right: -15px;
    margin-left: -15px; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

@media (max-width: 768px) {
    footer div.card-container.col3 {
        grid-template-columns: repeat(1, 1fr);
        float: left;
    }
}

@media (min-width: 993px) {
    main section header.masthead {
        height: auto;
        min-height: 46em;
        background: url(../assets/img/backgrounds/hotel1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -300px;
        /* dom add */
        margin-top: -5em;
        /* end dom add */
    }
    main section header.masthead .card,
    main section header.result .card {
        background: #f7f7f7;
        border-radius: 1em;
        padding: 1em;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.20);
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.20);
    }
    .navbar ul li:last-child {
        display: none;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .topnav.responsive ul>li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li,
    li a {
        width: 100%;
    }
    #dropdownMenu {
        /* position: fixed; */
        display: none;
    }
}

@media (max-width: 1200px) {
    div.card-container.col6 {
        float: left;
        width: 45%;
    }
}

div.card.menu.vcenter {
    transition: all .3s ease-in-out;
}


/* div.card.menu.vcenter a:hover { 
    transform: scale(1.1);
    transition: all 0.6s ease-out 0s;
 
  
 } */

footer {
    color: #333;
}

.card.menu {
    color: var(--main-fg-color);
    position: relative;
}


/**** content */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
}

a {
    text-decoration: none !important;
}

ion-icon#heart.two-em {
    position: absolute;
    top: 8px;
    left: 16px;
}

.card-wrapper div.col4 {
    display: grid;
}

.inline {
    display: inline-grid !important;
}

#booking-main-image {
    width: auto;
}

#booking-main-image img {
    width: 100%;
    height: 100%;
}

#booking-list-images {
    display: inline-flex;
}

#booking-list-images .booking-list-images-item {
    margin-right: 1px;
    width: 50px;
    height: 50px;
}

#booking-list-images .booking-list-images-item img {
    padding: 1;
    max-width: 100%;
    max-height: 100%;
}

.square {
    height: 75px;
    width: 75px;
}

#places img {
    max-width: 100%;
    max-height: 100%;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.ellipsis {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.5em;
    /* line-height: 1.5em;  */
    max-width: 100%;
}

hr.separator {
    width: auto;
    border: 1px solid #e6e6e6f2;
    line-height: 1.2pt;
}

span.wrapper {
    display: flex !important;
}

ion-icon[name="pin"] {
    color: #e50404eb;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.perks>.col4>ion-icon {
    color: var(--success);
    font-size: 2em;
}

.col9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.small-badge {
    border-radius: 1em;
    margin: .2em;
    padding: .3em;
    font-size: .7em;
    border: 1px solid var(--green);
}

p.small-badge.gray.smaller.dark:hover {
    color: var(--white);
    background: var(--green);
}

.rel>img {
    max-width: 320px;
    object-fit: cover;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 50px;
    width: 60px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.mySlides img {
    max-height: 40em;
    object-fit: cover;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.mySlides {
    display: none
}

.lucid-footer {
    background-color: #370202 !important;
}

.favourites {
    padding: 1px;
}

#places>.card-container>.bg-lite>img {
    object-fit: cover;
    background-repeat: no-repeat;
}

.card-container.part li,
a {
    color:#333;
}


/*  */