.p-auto{
    padding: auto;
}
.p{
    padding:1em
}

.p-2{
    padding:2em
}

.p-3{
    padding:3em
}

.p-4{
    padding:4em
}

.p-5{
    padding:5em
}
.py-auto{
   padding: auto 0px auto 0 px;
}


.py{
    padding-top:1em !important; 
    padding-bottom:1em !important;
}

.py-2{
    padding-top:2em;padding-bottom:2em
}

.py-3{
    padding-top:3em;padding-bottom:3em
}

.py-4{
    padding-top:4em;padding-bottom:4em
}

.py-5{
    padding-top:5em;padding-bottom:5em
}


.px-auto{
    padding: 0px auto 0px auto;
}

.px{
    padding-right:1em;padding-left:1em
}

.px-2{
    padding-right:2em;padding-left:2em
}

.px-3{
    padding-right:3em;padding-left:3em 
}

.px-4{
    padding-right:4em;padding-left:4em
}

.px-5{padding-right:5em;padding-left:5em
}

.pt{padding-top:1em
}

.pt-2{padding-top:2em
}

.pt-3{padding-top:3em
}

.pt-4{
    padding-top:4em
}

.pt-5{
    padding-top:5em
}

.pb{
    padding-bottom:1em
}

.pb-2{
    padding-bottom:2em
}

.pb-3{padding-bottom:3em}
.pb-4{padding-bottom:4em}
.pb-5{padding-bottom:5em}

.m-auto{
    margin: auto;
}

.m{margin:1em}

.m-2{margin:2em}
.m-3{margin:3em}
.m-4{margin:4em}
.m-5{margin:5em}
.ml-1{
    margin-left: 1em !important;
}

.ml-3{
    margin-left: 3em !important;
}

.ml-5{
    margin-left: 5em !important;
}

.mr-1{
    margin-right: 1em !important;
}
.mr-3{
    margin-right: 3em !important;
}

.mr-5{
    margin-right: 5em !important;
}

.mb{margin-bottom:1em}
.mb-2{margin-bottom:2em}
.mb-3{
    margin-bottom:3em !important;
}

.mb-4{margin-bottom:4em}
.mb-5{
    margin-bottom:5em !important;
}

.my-auto{
    margin: auto 0px auto 0px;
}
.my-1{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.my{margin-top:1em;margin-bottom:1em}
.my-2{margin-top:2em;margin-bottom:2em}

.my-3{
    margin-top:3em !important;
    margin-bottom:3em !important;
}
.my-4{margin-top:4em;margin-bottom:4em}
.my-5{
    margin-top:5em !important;
    margin-bottom:5em !important;
}

.mx-auto{
    margin: 0px auto 0px auto !important;
}
.px-1{
    padding-left: 1em;
    padding-right: 1em;
}
.mx{
    margin-left:1em;margin-right:1em
}
.mx-2{
    margin-left:2em;margin-right:2em
}
.mx-3{
    margin-left:3em;margin-right:3em
}
.mx-3{
    margin-left:3em;margin-right:3em
}
.mx-4{
    margin-left:4em;margin-right:4em
}
.mx-5{
    margin-left:5em;margin-right:5em
}
.mt{
    margin-top:1em
}
.mt-2{
    margin-top:2em
}
.mt-3{
    margin-top:3em
}
.mt-4{
    margin-top:4em
}
.mt-5{
    margin-top:5em !important;
}
.mb{
    margin-bottom:1em
}
.mb-2{
    margin-bottom:2em
}
.mb-3{
    margin-bottom:3em
}
.mb-4{
    margin-bottom:4em
}
.mb-5{
    margin-bottom:5em
}
.text-right{
    text-align:right;
}
.backdrop{
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:grid;
    background: rgba(0, 0, 0, 0.3);

}


.dont-panic{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(../assets/img/spinner.gif);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: 100;
    animation: fadeIn 2s;
    top: 50%;
    left: calc(50% - 24px);
    transition: 2s;

    
  
}

.backdrop .dont-panic img{
    opacity:0;
}

.backdrop .dont-panic{
    display:grid;
}

body.backdrop>.dont-panic img#img{margin:auto;width:50px;opacity:1}
.text-light{font-size:smaller}
.bold{font-weight:600}
.normal{font-weight:initial}
.light{font-weight:lighter}
.small{font-size:small}
.smaller{font-size:smaller}
.large{font-size:large}
.larger{font-size:larger}
.gray{
    color: var(--gray);
}
.white{
    color: var(--white);
}
.brown{
    color: var(--brown);
}
.dark{
    color: var( --dark);
}

.primary{
    color:var(--primary);
}

.secondary{
    color:var(--yellow);
}

.orange{
    color:var(--orange);
}

.danger{
    color: var(--danger);
}
.green{
    color: var(--green);
}

.center{
    float:none;
    margin:0 auto
}

[class*"col-"]{
    float: left;
}


.badge{   
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    border: 1px solid transparent;
    /* background-color: #777777; */
    border-radius: 2px;
    /* color: #fff; */
    display: block;
    font-weight: 500;
    position: absolute;
    /* vertical-align: middle; */
    padding: 5px;
    border: 1px solid #0000004d;
    }
    .bg-gray{
        background-color: #777777;
    }

    .btn-default{
        background-color:var(--gray) !important;
    }

    .btn-success{
        background-color: var(--success) !important;
    }
    .btn-primary{
        background-color: var(--blue) !important;
    }
    .btn-background{
        background-color: var(--brown) !important;
    }

    .bg-lite{
        background-color: var(--lite) !important;
        border-radius: .5em;
    
       float: unset;
    }

    .bg-primary{
                background: var(--primary);
    }

    .bg-success{
        background: var(--success);
    }

    .bg-danger{
        background: var(--danger);
    }
    .bg-secondary{
        background: var(--yellow);
    }

    .bg-custom{
        background: var( --main-bg-color);
    }


    .center{
        align-items: center !important;
        text-align: center !important;
        margin: 0 auto 0 auto;
    }
    .left{
        text-align: left !important;
        align-items: left !important;
        text-align: left !important;
        float: left;
        margin: 0 auto 0 0;
    }
    .right{
        text-align: right !important;
        align-items: right !important;
        text-align: right !important;
        margin: 0 auto 0 0;
        float: right !important;
        margin-right: 2em !important;
    }

.one-em{
    font-size: 1em !important;
}

.two-em{
    font-size: 2em !important;

}


    .four-em{
    font-size: 4em !important;
        }

    .six-em{
        font-size: 6em !important;
    }
    .eight-em{
        font-size: 8em !important;
    }

    .ten-em{
        font-size: 10em !important;
    }


    .col1
    {
        width: 10%;
        float: unset;
    }
    .col2{
        float:left;
        width:16.562%;
    }


    /* .col3{
    width: 33.333%;
        float: left;
    } */


    .col4{
        width: 25%;
        float: left;
    }
    /* .col5{

    } */
    .col6{
      width: 50%;
      float: left;  
    }

    .col12{
        width: 100%;
        float: left;  
    }
    .row{
  

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    }
    .row.col{
    padding-right: 5px;
    padding-left: 5px;
    }
    .col{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
.rel{
    position: relative;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 .bg-quality{
     background-color: #f2f2f2;
 }
 .center{
    display: block;
    text-align: -webkit-center;
 }
.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}


.wem1{
    width:1em;
}
.wem2{
    width:2em;
}

.wem4{
    width:4em;
}
.wem5{
    width:5em;
}

.wem6{
    width:6em;
}

.wem8{
    width:8em;
}

.text-justify {
    text-align: justify!important;
}